<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.com.kkmkkm.tenhou.member.domain.MemberRepository">

    <resultMap id="member" type="member">
        <constructor>
            <idArg javaType="int" column="id"/>
            <arg javaType="string" column="user_id"/>
            <arg javaType="string" column="user_name"/>
            <arg javaType="int" column="game_count"/>
            <arg javaType="int" column="first_count"/>
            <arg javaType="int" column="second_count"/>
            <arg javaType="int" column="third_count"/>
            <arg javaType="int" column="fourth_count"/>
            <arg javaType="int" column="yakuman_count"/>
            <arg javaType="int" column="hakoten_count"/>
            <arg javaType="int" column="total_score"/>
            <arg javaType="java.time.LocalDateTime" column="reg_dt"/>
            <arg javaType="java.time.LocalDateTime" column="mod_dt"/>
        </constructor>
    </resultMap>

    <select id="selectMemberList" resultMap="member" parameterType="int">
        SELECT
          member.id AS id,
          member.user_id AS user_id,
          member.user_name AS user_name,
          count(1) AS game_count,
          summary.first_count AS first_count,
          summary.second_count AS second_count,
          summary.third_count AS third_count,
          summary.fourth_count AS fourth_count,
          summary.yakuman_count AS yakuman_count,
          summary.hakoten_count AS hakoten_count,
          summary.total_score AS total_score,
          member.reg_dt AS reg_dt,
          member.mod_dt AS mod_dt
        FROM member
          LEFT JOIN history ON member.id = history.user_id
          LEFT JOIN yakuman_history ON member.id = yakuman_history.user_id AND history.id = yakuman_history.history_id
          LEFT JOIN hakoten_history ON member.id = hakoten_history.user_id AND history.id = hakoten_history.history_id
        WHERE
          history.season = #{season}
    </select>
</mapper>
